{% extends "layout.html" %}

{% block head_content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/expenses.css' )}}">
{%endblock%}

{% block main_content %}   
    <div class="body__section">
        <section class="section__left">

            <div class="header__calendar">
                <h1>{{ date }}</h1>
            </div>

            <a class="button__link" href="{{ url_for('pages.add_expense', date=date) }}">
                <div class="button">+ Add Expense</div>
            </a>
            
            <table class="table">
                <colgroup>
                    <col style="width: 60%">
                    <col style="width: 25%">
                    <col style="width: 15%">
                </colgroup>
    
                <thead>
                    <th class="table__cell table__cell--header">Title</th>
                    <th class="table__cell table__cell--header">Type</th>
                    <th class="table__cell table__cell--header">Amount</th>
                    <th class="table__cell table__cell--header"></th>
                    <th class="table__cell table__cell--header"></th>
                </thead>
    
                <tbody>
                    {% for expense in expenses_data %}
                        <tr>
                            <td class="table__cell table_cell--body">
                                <p class="table__expenseTitle">{{ expense.title }}</p>
                            </td>
                            <td class="table__cell table_cell--body">
                                <p class="table__expenseType">{{ expense.type }}</p>
                            </td>
                            <td class="table__cell table_cell--body">
                                <p class="table__expenseAmount">${{ expense.amount }}</p>
                            </td>
                            <td class="table__cell table_cell--body">
                                <a class="link" href="{{ url_for('pages.edit_expense', date=date, expense_id=expense._id) }}">Edit</a>
                            </td>
                            <td class="table__cell table_cell--body">
                                <a class="link" href="{{ url_for('pages.delete_expense', date=date, expense_id=expense._id) }}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </section>

        <section class="section__right"> 
            <div class="section__right-block">
                <div class="total__budget">
                    <p class="budget__amount">$ {{ budget_amount }}</p>
                    <p class="budget__text">Total Budget</p>
                </div>
                <div class="set__budget">
                        <a class="button__link" href="{{ url_for('pages.set_budget', date=date) }}">
                            <div class="button">Set Budget</div>
                        </a>
                </div>
            </div>
            <div class="section__right-block">
                <p class="block__text">Budget Left: <span class="link">{{ budget_left }}</span> </p>
            </div>
            <div class="section__right-block">
                <p class="block__text">Expenses: <span class="link">{{ all_expenses }}</span> </p>
            </div>
        </section>
    </div>
{%endblock%}