{% extends "layout.html" %}

{% block head_content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/expenses.css' )}}">
{% endblock %}

{% block main_content %}
<section class="menu__section">
    <div class="header__calendar">
        <h1>{{ date }}</h1>
    </div>

    <p>Are you sure you want to delete the following expense?</p>

    <table class="table">
        <colgroup>
            <col style="width: 60%">
            <col style="width: 25%">
            <col style="width: 15%">
        </colgroup>

        <thead>
            <th class="table__cell table__cell--header">Title</th>
            <th class="table__cell table__cell--header">Type</th>
            <th class="table__cell table__cell--header">Amount</th>
            <th class="table__cell table__cell--header"></th>
            <th class="table__cell table__cell--header"></th>
        </thead>

        <tbody>
            <tr>
                <td class="table__cell table_cell--body">
                    <p class="table__expenseTitle">{{ expense.title }}</p>
                </td>
                <td class="table__cell table_cell--body">
                    <p class="table__expenseType">{{ expense.type }}</p>
                </td>
                <td class="table__cell table_cell--body">
                    <p class="table__expenseAmount">${{ expense.amount }}</p>
            </tr>
        </tbody>
    </table>


    <form action="{{ url_for('pages.delete_expense', date=date, expense_id=expense._id) }}" method="POST">
        <button class="button" submit>Delete</button>
        <a class="link" href="{{ url_for('pages.budget_manager', date=date) }}">Cancel</a>
    </form>

</section>
{% endblock %}