{% from "macros/fields.html" import render_text_field, render_select_field %}

{% extends "layout.html" %}

{% block head_content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/expenses.css' )}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block main_content %} 
    <form name="delete_expense" method="post" novalidate class="form">
        <div class="form__container">
            {{ form.hidden_tag() }}
            <h2>Are you sure you want to delete the following expense?</h2>

            <table class="table">
                <table class="table">
                    <colgroup>
                        <col style="width: 50%">
                        <col style="width: 35%">
                        <col style="width: 15%">
                    </colgroup>
            
                    <thead>
                        <th class="table__cell table__cell--header">Title</th>
                        <th class="table__cell table__cell--header">Type</th>
                        <th class="table__cell table__cell--header">Amount</th>
                        <th class="table__cell table__cell--header"></th>
                        <th class="table__cell table__cell--header"></th>
                    </thead>
            
                    <tbody>
                        <tr>
                            <td class="table__cell table_cell--body">
                                <p class="table__expenseTitle">{{ expense.title }}</p>
                            </td>
                            <td class="table__cell table_cell--body">
                                <p class="table__expenseType">{{ expense.type }}</p>
                            </td>
                            <td class="table__cell table_cell--body">
                                <p class="table__expenseAmount">${{ expense.amount }}</p>
                        </tr>
                    </tbody>
                </table>
            </table>

            
            {{ form.submit(class_="formbutton formbutton--form") }}
        </div>
    </form>
{% endblock %}